#navber-section{
    width: auto;
    height: 400px;
    background-image: url(/assets/ee.jpg);
    background-size: cover;
    background-image: relative;
    position: relative;
  }

  
  #header{
    width: 100%;
    text-align: center;
    justify-items: center;
    margin-top: 80px;
    color: white;
  }
  

  #donation-section{
    max-width: 1050px;
    margin: 50px auto;
    padding: 0 20px;
    margin-bottom: 80px;
  }

  #donation h4{
    text-transform: uppercase;
    font-size: 14px;
    color: #009688;
    margin-bottom: 10px;
  }
  
#donation h4::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #009688;
    margin-top: 5px;
  }