*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


html, body{
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #ffffff;

}

#main{
  height: 100%;
  width: 100%;
}


/* navber-section */
#navber-section{
  width: auto;
  height: 700px;
  background-image: url('../assets/CoverPhoto.jpg');
  background-size: cover;
  background-image: relative;
  position: relative;
}

#navber{
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.349);

}

#logo-name {
  display: flex;
  align-items: center;
  font-size: 10px;
  font-weight: 500;
  color: white;
}

#navber img{
  height: 60px;
  width: 60px;
  background-size: cover;
  float: left;
  margin-right: 10px;
}

#nav{
padding: 28px 0;
}

.nav_links {
  display: flex;
  list-style: none;
  position: relative;
}

.nav_links li {
  margin: 0 10px; 
}

.nav_links li a {
  text-decoration: none; 
  color: #fafafa; 
  font-size: 16px;
  padding: 0px 10px; 
  transition: background-color 0.3s, color 0.3s; 
}

#nav li a:hover {
  transition: 0.5s;
  color: #219D80;
}

#navber button{
  background-color: #219D80;
  color: white;
  border: none;
  height: 40px;
  width: 120px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

#navber button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#navber button:hover {
  transition-duration: 1.5s;
  color: rgb(255, 255, 255); 
  background-color: #306853; 
  box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.2);
  cursor: pointer; 
}

#header{
  width: 100%;
  text-align: center;
  justify-items: center;
  margin-top: 150px;
  color: white;
}

#header p{
  font-size: 15px;
  padding: 10px;
  font-weight: 400;
}

#header h1{
  font-size: 72px;
  padding: 10px;
  font-weight: 400;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#header h5{
  font-size: 17px;
  font-weight: 600;

}

#header button{
  background-color: #219D80;
  color: white;
  border: none;
  margin: 5px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  height: 40px;
  width: 144px;
}

#header .volu{
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  width: 144px;
  border: 2px solid #219D80 ;
}

#header button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

#header .volu a {
  text-decoration: none;
}

#header button:hover {
  transition-duration: 0.9s;
  color: rgb(255, 255, 255); 
  background-color: #306853; 
  box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.2);
  cursor: pointer; 
}

#header .volu:hover {
  background-color: #ffffff; 
  box-shadow: 2px 4px 5px 3px rgba(0,0,0,0.2);
  cursor: pointer;   
  border: none;
  
  a{
    color: black;
  }
}








/* About Section */
#about-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #f9f9f9;

}

#about-photo img {
  width: 100%;
  height: 500px;
}

#about-details {
  padding: 0 20px;
  max-width: 600px;
}

#about-details h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #009688;
  margin-bottom: 10px;
}

#about-details h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bold;
}

#about-details p {
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}

#about-details h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #009688;
  margin-top: 5px;
}







/* Mission Vission */
#mission-vission{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

#mv-part1{
  padding: 0 20px;
  max-width: 580px;
}

#mv-part1 h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #009688;
  margin-bottom: 10px;
}

#mv-part1 h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #009688;
  margin-top: 5px;
}

#mv-part1 h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bold;
}

#mi-vis p{
  font-size: 16px;
  line-height: 1.8;
  color: #555;
}

#mis-vis-tag{
  display: flex;
  padding: 10px 0;
}

#box{
  border: none;
  border-radius: 10px;
  background-color: #d6eee9;
  padding: 10px;
  margin-right: 10px;

}

#box h4 {
  font-size: 16px;
  color: #009688;
  margin-bottom: 10px;
}

#box p{
  font-size: 13px;
  line-height: 1.8;
  color: #555;
}







/* Card */
.card-section {
  padding: 20px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1050px;
  margin: 20px auto;
}

.card{
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  margin: 0;
  color: #333;
}

.card-content p {
  margin: 5px 0;
  color: #555;
}

.card-content button {
  background-color: #009688;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-weight: 600;
}

.card-content button:hover {
  background-color: #276963;
}







/* testimonials-section */
.testimonials-section {
  height: 500px;
  text-align: center;
  padding: 80px 20px;
  background-color: #242424;
}

.header h5 {
  color: #c0c0c0;
  font-size: 18px;
  margin-bottom: 5px;
}

.header h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: rgb(207, 207, 207);
}

.slide h3,P {
  color: #c0c0c0;
}
.slider-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.slider {
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.slide.active {
  display: flex;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid white;
  margin-bottom: 10px;
}

.feedback {
  font-style: italic;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.527);
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  color: white;
  font-size: 15px;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
}

.slider-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.prev-btnn {
  left: 10px;
}

.next-btnn {
  right: 10px;
}

.dots {
  margin-top: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #aaa;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}
  






/* Details Section */
#details-section{
  max-width: 1050px;
  margin: 50px auto;
  padding: 0 20px;
}

#dts-part2{
  display: flex;
  padding: 10px 0;

}

#dts-part1 h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #009688;
  margin-bottom: 10px;
}

#dts-part1 h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #009688;
  margin-top: 5px;
}

#dts-part1 h1 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: bold;
}

#details1 p{
  font-size: 16px;

  color: #000000a4;
}

#details1{
  border: none;
  border-radius: 10px;
  background-color: #d6eee9;
  padding: 10px;
  text-align: center;
  height: 230px;
  width: 200px;
  margin-right: 30px;
}

#details1 i{
  font-size: 120px;
  color: #009688;
}





/* News Section */
#news-section {
  max-width: 1050px;
  margin: 50px auto;
  padding: 0 20px;
}

#news-part1 h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #009688;
  margin-bottom: 10px;
}

#news-part1 h3::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #009688;
  margin-top: 5px;
}

#news-part1 h1 {
  font-size: 36px;
  color: #222;
  margin-bottom: 30px;
}


#news-part2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#news1 {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
}

#news1:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

#news1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

#news1 h3 {
  font-size: 18px;
  color: #222;
  margin: 15px;
}

#news1 p {
  font-size: 14px;
  color: #555;
  margin: 0 15px 15px;
  line-height: 1.6;
}

#news1 button {
  display: block;
  margin: 15px;
  padding: 10px 20px;
  background-color: #009688;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  transition: background-color 0.3s;
}

#news1 button:hover {
  background-color: #276963;
}


#news1 button a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}




/* sponsor */
#sponsor{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

#sponsor img{
  height: 80px;
  position: relative;
  margin: 30px;
  mix-blend-mode: multiply;
}



/* Footer */
#footer{
 height: 100px;
 background-color: #22262F;
 text-align: center;
 padding-top: 40px;
}